

.simple-keyboard.hg-theme-default.myTheme {
  border: 5px solid rgb(255, 0, 0, 0.7);
  border-radius: 10px;
  margin: 10px;
  width: calc(100% - 20px);
}

.simple-keyboard.hg-layout-default .hg-button.hg-correct {
  @apply bg-green-500 text-white;
}

.simple-keyboard.hg-layout-default .hg-button.hg-misplaced {
    @apply bg-orange-500 text-white;
}
.simple-keyboard.hg-layout-default .hg-button.hg-wrong {
    @apply bg-neutral-700 text-white;
}